
<div class="card">
  <div class="card-header">
    {{ 'time.date' | translate }}: {{ tiempo.fecha }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ 'time.temp' | translate }}</h5>
    <p class="card-text">{{ 'time.maximum' | translate }}: {{ tiempo.temperatura.maxima }} º</p>
    <p class="card-text">{{ 'time.minimum' | translate }}: {{ tiempo.temperatura.minima }} º</p>

    <h5 class="card-title">{{ 'time.thermal' | translate }}</h5>
    <p class="card-text">{{ 'time.maximum' | translate }}: {{ tiempo.sens_termica.maxima }} º</p>
    <p class="card-text">{{ 'time.minimum' | translate }}: {{ tiempo.sens_termica.minima }} º</p>

    <h5 class="card-title">{{ 'time.HR' | translate }}</h5>
    <p class="card-text">{{ 'time.maximum' | translate }}: {{ tiempo.humedad_relativa.maxima }}</p>
    <p class="card-text">{{ 'time.minimum' | translate }}: {{ tiempo.humedad_relativa.minima }}</p>
  </div>
</div>
