<div class="text-center mt-3">
  <select (change)="selectedProvincia($event.target.value)" id="provinciaID">
    <option value="" disabled selected>{{ 'home.selectProvincia' | translate }}</option>
    <option *ngFor="let provincia of provincias" [value]="provincia.CODPROV">{{provincia.NOMBRE_PROVINCIA}}</option>
  </select>

  <select *ngIf="provinciaElegida" (change)="selectedMunicipio($event.target.value)" id="municipioID">
    <option value="" disabled selected>{{ 'home.selectMunicipio' | translate }}</option>
    <option *ngFor="let municipio of municipios" [value]="municipio.COD_GEO">{{municipio.NOMBRE}}</option>
  </select>

  <div class="wrapper">
    <div class="aligner">
      <div class="card-deck mt-2">
        <app-time *ngFor="let tiempo of tiempos" [tiempo]="tiempo"></app-time>
      </div>
    </div>
  </div>

</div>
