<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{ 'navbar.title' | translate }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">{{ 'navbar.home' | translate }}</a>
      </li>
      <li class="nav-item">
        <div class="nav-link">{{ type }}</div>
      </li>
    </ul>
  </div>
  <div>
    <img (click)="generalService.useLanguage('es')" src="../../assets/img/Flag-Spain.png" class="icon">
    <img (click)="generalService.useLanguage('en')" src="../../assets/img/Flag-England.png" class="icon">
  </div>
</nav>
